# Application
web/app/plugins/*
!web/app/plugins/.gitkeep
web/app/mu-plugins/*/
# Temporarily commiting uploads dir
# web/app/upgrade
# web/app/uploads/*
# !web/app/uploads/.gitkeep

# WordPress
web/wp
web/.htaccess

# WP-CLI
db-sync
sql-dump-*.sql

# Dotenv
.env
.env.*
!.env.example

# Vendor (e.g. Composer)
vendor/*
!vendor/.gitkeep

# Node Package Manager
node_modules

# Vagrant
bin
.vagrant

# Mac crap
.DS_Store

# Premium Fonts - Writing these out fully so there is a "checklist" of what's missing.
dietdidot-italic.eot
dietdidot-italic.svg
dietdidot-italic.ttf
dietdidot-italic.woff
dietdidot-italic.woff2

# Info
.info

# Gems
.gems/