// Base styles
*, *::before, *::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  height: 100%;
  color: $black;
  min-width: 320px; // Don't allow window to be sized smaller than iphone 4
  @include clearfix;
  overflow-x: hidden;
  position: relative;
  background: $gray-dark;
  @include font-paragraph;
}

/*
The background is an enormous raster image of mediocre quality.
At usable sizes, even the png has ugly scaling artifacts.
My thought was to try to blur it out with css filters.  Looks a lot better.
But you can't blur the body element--or the whole site will be blurry!
So use a seperate element.
Also the blur bleeds at the edges, so we use a slightly oversized psuedo element.
Clipping the overflow hides the bleed.
*/
.site-background {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  overflow: hidden;
  position: absolute;
  &::before{
    content: '';
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: -20px;
    filter: blur(3px);
    position: absolute;
    z-index: -1;
    background-size: cover;
    background-image: url('../images/blended-background.png'); // There is also a blended-background.jpg at ~100k
  }
  @include media-md {
    @include ruler-edge;
  }

  .big-a-s {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.3;
    position: absolute;
    background-size: 150%;
    background-repeat: repeat-y;
    background-position: 15px 0%;
    background-image:  url('../images/a-s-large.svg');
  }
}



p {
  em {
    font-style: italic;
  }
}

a {
  color: inherit;
}

img {
  max-width: 100%;
  height: auto;
}

// Browser alert
.alert-warning {
  top: 0;
  left: 0;
  right: 0;
  z-index: 200;
  color: $black;
  padding: 50px;
  text-align: center;
  background: $brand-primary;
}
.alert {
  padding: 50px;
  background: #fff;
}

// Disable scrolling when modals are active
.no-scroll {
  overflow: hidden;
}

// Utility classes
.hide {
  display: none;
}

::selection {
  // color: $cream;
  background: rgba($orange,0.5);
}


.site-wrap {
  @include media-md {
    float: left;
    width: 75%;
  }
}

.main-content {
  padding: $padding;
  background: $cream;

  @include media-md {
    padding: $padding-lg;
  }
}

// Compensate adminbar placement because we relatively positioned the body element
#wpadminbar {
    top: -$wp-admin-bar-height;
    @include min-screen($breakpoint-wp-admin-bar-fixed) {
      top: 0;
    }
}