// Base styles
*, *::before, *::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  height: 100%;
  color: $black;
  min-width: 320px; // Don't allow window to be sized smaller than iphone 4
  @include clearfix;
  overflow-x: hidden;
  position: relative;
  background: $gray-dark;
  @include font-paragraph;
}


a {
  text-decoration: none;
}

ul.semantic-only-list {
  list-style: none;
  padding-left: 0;
}

p {
  em {
    font-style: italic;
  }
}

a {
  color: inherit;
}

.bigclicky {
  cursor: pointer;
}

img {
  height: auto;
  max-width: 100%;
}

// Browser alert
.alert-warning {
  top: 0;
  left: 0;
  right: 0;
  z-index: 200;
  color: $black;
  padding: 50px;
  text-align: center;
  background: $brand-primary;
}
.alert {
  padding: 50px;
  background: #fff;
}

// Disable scrolling when modals are active
.no-scroll {
  overflow: hidden;
}

// Utility classes
.hide {
  @include hidden;
}

.hide-during-page-load { // Same as hide, but init function will remove this class
  @include hidden;
}

.site-wrap {
  @include media-md {
    padding-left: 25%;
  }
}

.site-top {
  position: relative;
}

// Compensate adminbar placement because we relatively positioned the body element
#wpadminbar {
    top: -$wp-admin-bar-height;
    @include min-screen($breakpoint-wp-admin-bar-fixed) {
      top: 0;
    }
}

::selection {
  // color: $cream;
  background: rgba($orange,0.5);
}

button {
  user-select: none;
  border-radius: 0px;
}