$appointment-padding: 19px 24px;

// Book An Appointment Module
.book-appointment {
  padding: 0 0 2em;
  transition: opacity 0.3s 0.2s;

  button {
    @include font-caption-bold;
    outline: 0;
    border: none;
    display: block;
    color: $orange;
    appearance: none;
    text-align: center;
    line-height: (18 / 12);
    background: transparent;
  }

  // Tablet and desktop this is a fixed position corner button
  @include media-md {
    top: 0;
    z-index: 2;
    right: 100px;
    position: fixed;

    button {
      color: $cream-dark;
      padding: $appointment-padding;
      transition: background-color 0.8s 0.2s;

      @include big-dash($orange,after) {
        top: auto;
        left: 50%;
        bottom: 0;
        transform: translateX(-50%);
        transition: opacity 0.8s 0.2s;
      }
    }
  }

  .location-list {
    @include font-footer;
    margin: 0;
    padding: 0;
    color: $gold;
    list-style: none;
    text-align: center;
    padding: $appointment-padding;

    p, h4 {
      margin: 0;
    }

    h4 {
      @include font-caption-bold;
    }

    li {
      margin: 2em 0 0;
      &:first-of-type {
        margin: 0;
      }
    }

    @include media-md {
      color: $brown;
      text-align: left;
      background: rgba($cream-dark,0.85);
    }
  }

  // Various states triggered by scroll events in js
  @include media-md {

    &.-button, &.-active {
      button {
        background: $gold;
        transition: background-color 0.2s;

        &::after {
          opacity: 0;
          transition: opacity 0.2s;
        }
      }
    }

    &.-hide {
      opacity: 0;
      pointer-events: none;
    }
  }
}

// Avoid collision with wp admin bar when fixed position
body.admin-bar {
  .book-appointment {

    @include media-md {
      top: $wp-admin-bar-height;
    }
    @include min-screen($breakpoint-wp-admin-bar-fixed) {
      top: $wp-admin-bar-height-big;
    }
  }
}