// Book An Appointment Module
.book-appointment {
  button {
    @include font-caption-bold;
    border: none;
    display: block;
    color: $orange;
    appearance: none;
    padding: 0 0 2em;
    text-align: center;
    line-height: (18 / 12);
    background: transparent;
  }

  // Tablet and desktop this is a fixed position corner button
  @include media-md {
    top: 0;
    z-index: 1;
    right: 100px;
    position: fixed;
    button {
      color: $dark-cream;
      padding: 16px;
      @include big-dash($orange,after) {
        top: auto;
        left: 50%;
        bottom: 0;
        transform: translateX(-50%);
      }
    }
  }

  // Location List
  .location-list {
    display: none;
  }
  &.-active {
    .location-list {
      @include font-caption-bold;
      margin: 0;
      color: $brown;
      display: block;
      list-style: none;
    }
  }
}