$appointment-padding: 19px 24px;

// Book An Appointment Module
.book-appointment {
  padding: 0 0 2em;
  button {
    @include font-caption-bold;
    border: none;
    display: block;
    color: $orange;
    appearance: none;
    text-align: center;
    line-height: (18 / 12);
    background: transparent;
  }

  // Tablet and desktop this is a fixed position corner button
  @include media-md {
    top: 0;
    z-index: 1;
    right: 100px;
    position: fixed;
    button {
      color: $dark-cream;
      padding: $appointment-padding;
      @include big-dash($orange,after) {
        top: auto;
        left: 50%;
        bottom: 0;
        transform: translateX(-50%);
      }
    }
  }

  // Location List
  .location-list {
    display: none;
  }
  &.-active {

    button {
      background: $gold;
      &::after {
        opacity: 0;
      }
    }

    .location-list {
      @include font-footer;
      margin: 0;
      padding: 0;
      color: $gold;
      display: block;
      list-style: none;
      text-align: center;
      padding: $appointment-padding;

      p, h4 {
        margin: 0;
      }

      h4 {
        @include font-caption-bold;
      }

      li {
        margin: 2em 0 0;
        &:first-of-type {
          margin: 0;
        }
      }

      @include media-md {
        color: $brown;
        text-align: left;
        background: rgba($dark-cream,0.7);
      }
    }
  }
}