// Header

.site-header {
  padding: 0;

  @include media-md {
    left: 0;
    bottom: 0;
    width: 25%;
    float: left;
    position: absolute;
    padding-bottom: $padding-lg*1.5;
    &.-fixed {
      top: 0;
      bottom: auto;
      position: fixed;
      backface-visibility: hidden;
    }
  }
}

// Acount for admin bar
body.admin-bar {
  .site-header {
    @include media-md {
      padding-top: $wp-admin-bar-height;
    }
    @include min-screen($breakpoint-wp-admin-bar-fixed) {
      padding-top: $wp-admin-bar-height-big;
    }
  }
}

.site-banner {
  height: 60px;
  position: relative;
  @include ruler-edge;
  margin-left: $padding;

  @include media-md {
    height: auto;
    margin-left: 0;

    &::after {
      display: none;
    }
  }

  @include media-lg {
    &::before {
      top: 60px;
      left: 50%;
      z-index: -1;
      content: '';
      width: 218px;
      height: 303px;
      position: absolute;
      transform: translateX(-50%);
      background-image: url('../images/a-s.svg');
    }
  }

  .brand {
    margin: 0;
    line-height: 0; // Prevent wierd sizing of elements -- there's only an svg here

    a {
      top: 50%;
      left: $padding*0.5;
      position: absolute;
      padding: $padding/2;
      transform: translateY(-50%);

      @include media-md {
        transform: none;
        position: static;
      }
      &:hover {
        .icon {
          fill: $orange;
        }
      }
    }

    .icon-logo {
      display: none;

      @include media-md {
        margin: auto;
        height: 50px;
        width: 45.5px;
        display: block;
        margin-top: 50px;
        fill: $cream-dark;
      }

      @include media-lg {
        margin-top: 170px;
      }
    }

    .icon-wordmark {
      width: 160px;
      height: 13.5px;
      fill: $cream-dark;

      @include media-md {
        margin: auto;
        width: 125px;
        height: 10.5px;
        display: block;
        margin-top: 16px;
      }
    }
  }
}


// Page Header
.page-header {
  position: relative;
  padding-bottom: $padding*4;
  backface-visibility: hidden;

  @include media-sm {
    padding-bottom: $padding*2;
  }
  @include media-md {
    border-top: $orange 4px solid;
    padding-bottom: $padding-md*2.5;
  }
  @include media-lg {
    padding-bottom: $padding-lg;
  }

  &.-has-short-text {
    padding-bottom: $padding;
    @include media-md {
      padding-bottom: $padding-md;
    }
    @include media-lg {
      padding-bottom: $padding-lg;
    }
  }

  .header-image-wrap {
    position: relative;
    padding-bottom: 100%;

    @include media-sm { 
      padding-bottom: #{$breakpoint-small};
    }
    @include media-md {
      padding-bottom: 60%;
    }
  }

  .header-image {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    background-size: cover;
    background-color: $gray;
    background-position: center center;
  }

  .header-text {
    left: 0;
    right: 0;
    bottom: 0;
    @include font-h1;
    background: $gold;
    color: $cream-dark;
    position: absolute;
    backface-visibility: hidden;
    padding: ($padding - 6px) $padding ($padding - 8px); // (intended - correction)

    @include media-md {
      border-bottom: 2px solid $orange;
      padding: (36px - 5px) $padding-md (46px - 15px); // (intended - correction)
    }

    @include media-lg {
      padding: ($padding-lg - 5px) $padding-lg (60px - 15px); // (intended - correction)
    }
  }
}