
// Page Blocks

@mixin padding {
  padding: $padding;

  @include media-md {
    padding: $padding-md;
  }

  @include media-lg {
    padding: $padding-lg;
  }
}

.page-block {
  @include padding;
  position: relative;

  // Default colors to be overriden by specific classes below
  color: $gray-dark;
  background: $cream;


  .section {
    position: relative;
    margin-top: $section-margin-top;
    &:first-child {
      margin-top: 0;
    }
  }

  // Overlapping classes
  &.-top-overlap {
    margin-top: -$padding;

    @include media-md {
      margin-top: -$padding-md;
    }

    @include media-lg {
      margin-top: -$padding-lg;
    }
  }

  &.-bottom-underlap {
    padding-bottom: $padding*2;

    @include media-md {
      padding-bottom: $padding-md*2;
    }

    @include media-lg {
      padding-bottom: $padding-lg*2;
    }
  }
}

//Indentation Classes
@mixin indent-right {
  margin-right: $padding;

  @include media-md {
    margin-right: $padding-lg/2;
   }

   @include media-lg {
    margin-right: $padding-lg;
  }
}

@mixin indent-right-big {
    margin-right: $padding;

  @include media-md {
    margin-right: $padding-lg/2;
   }

  @include media-lg {
    margin-right: $padding-lg*2;
  }
}


@mixin indent-right-huge {
    margin-right: $padding*2;

  @include media-md {
    margin-right: $padding-md*2;
   }

  @include media-lg {
    margin-right: $padding-lg*4;
  }
}

@mixin indent-left {
  margin-left: $padding;

  @include media-md {
    margin-left: $padding-lg/2;
   }

  @include media-lg {
    margin-left: $padding-lg;
  }
}

@mixin indent-left-big {
  margin-left: $padding;

  @include media-md {
    margin-left: $padding-lg/2;
   }

  @include media-lg {
    margin-left: $padding-lg*2;
  }
}


@mixin indent-left-huge {
    margin-left: $padding*2;

  @include media-md {
    margin-left: $padding-md*2;
   }

  @include media-lg {
    margin-left: $padding-lg*4;
  }
}

.-indent-right {
  @include indent-right;
}
.-indent-right-big {
  @include indent-right-big;
}
.-indent-right-huge {
  @include indent-right-huge;
}

.-indent-left {
  @include indent-left;
}
.-indent-left-big {
  @include indent-left-big;
}
.-indent-left-huge {
  @include indent-left-huge;
}

// Border Classes
.-border-bottom {
  border-bottom: $orange 2px solid;
}

// Color Classes
// Color Scheme Styles

// Generic color classes for easy color assignment
$colors: (
  'black': $black,
  'black-lite': $black-lite,
  'brown': $brown,
  'brown-lite': $brown-lite,
  'cream': $cream,
  'cream-dark': $cream-dark,
  'gold': $gold,
  'gold-lite': $gold-lite,
  'gray-dark': $gray-dark,
  'gray-lite': $gray-lite,
  'gray-medium': $gray-medium,
  'gray': $gray,
  'orange': $orange,
);

@each $color-name, $color-hex in $colors {
  .-bg-#{$color-name} {
    background-color: $color-hex;
  }
  .-text-#{$color-name} {
    color: $color-hex;

    &, &.user-content, .user-content { // Aw yeah, gettin overly specific up in this B (seriously though should fix this later)
      a:not(.non-user-content-link):not(:hover) {
        border-bottom-color: $color-hex;
      }
    }
  }
}

// If an element should want to break out of default .page-block padding and be FREE!!!
// FULL WIDTH...
@mixin break-out-of-padding {
  margin-left: -$padding;
  padding-left: $padding;
  margin-right: -$padding;
  padding-right: $padding;
  width: calc( 100% + #{$padding}*2);

  @include media-md {
    margin-left: -$padding-md;
    padding-left: $padding-md;
    margin-right: -$padding-md;
    padding-right: $padding-md;
    width: calc( 100% + #{$padding-md}*2);
  }

  @include media-lg {
    margin-left: -$padding-lg;
    padding-left: $padding-lg;
    margin-right: -$padding-lg;
    padding-right: $padding-lg;
    width: calc( 100% + #{$padding-lg}*2);
  }
}