// Styling of content that is editable in wysiwyg

.user-content {

  h1 {
    @include content-h1;
  }

  h2 {
    @include content-h2;
  }

  h3 {
    @include content-h3;
  }

  p {
    margin: 0 0 1em;
  }

  a:not(.non-user-content-link) {
    border-bottom: $gray 1px solid;

    &:hover {
      color: $orange;
      border-bottom-color: $orange;
    }
  }

  ul:not(.semantic-only-list) {
    list-style: none;
    padding-left: 2ch;
    margin: 0 0 1em;
    li {
      margin-bottom: 1em;
      position: relative;
      &::before {
        content: '+';
        margin-right: 1ch;
        position: absolute;
        right: 100%;
      }
    }
  }

  hr {
    height: 0;
    border: 0;
    border-bottom: 1px solid $brand-secondary;
    + p {
      margin-bottom: 0;
    }
  }

  em {
    font-style: italic;
  }

  strong {
    font-weight: bold;
  }

  img {
    width: 100%;
    max-width: 500px;
    margin-left: -$padding;
    margin-top: $padding/2;
    border-bottom: 2px solid $orange;

    @include media-md {
      margin-left: -$padding-md;
      margin-top: $padding-md/2;
    }

    @include media-lg {
      margin-left: -$padding-lg;
      margin-top: $padding-lg/2;
    }
  }

  .fluid-width-video-wrapper {
    margin: 2em 0;
  }

    // Image Layout Classes
  .image-layout {

    img {
      margin: 0;
      max-width: none;
      vertical-align: top;
    }

    &.-two-image {
      margin: $padding 0;

      @include media-md {
        @include clearfix;
        margin-right: -$padding-md;
        width: calc(100% + $padding-md);

        img {
          float: left;
          max-width: none;
          width: calc(50% - #{$padding-md / 2});
          &:first-of-type {
            margin-right: $padding-md;
          }
        }
      }

      @include media-lg {
        margin-right: -$padding-lg;
        width: calc(100% + $padding-lg);

        img {
          width: calc(50% - #{$padding-lg / 2});
          &:first-of-type {
            margin-right: $padding-lg;
          }
        }
      }
    }
  }
}