// Styling of content that is editable in wysiwyg

// Some h2 styling is gonna need to be referenced elsewhere, so abstract it out.


@mixin user-content-h1 {
  margin: 0;
  @include font-h2;
}

@mixin h2-padding-top {
  padding-top: (24px - 3px); // (intended - correction)
  @include media-lg {
    padding-top: (34px - 7px); // (intended - correction)
  }
}

@mixin user-content-h2 {
  @include font-h3;
  position: relative;
  @include h2-padding-top;
  @include big-dash($brown-lite);
  margin: $section-margin-top 0 (22px - 10px);  // (intended - correction)

  &:first-child {
    margin-top: 0;
  }
}

@mixin user-content-h3 {
  margin: (28px - 14px) 0 0;
  @include font-caption-bold;
}

.user-content-h1 {
  @include user-content-h1;
}

.user-content-h2 {
  @include user-content-h2;
}

.user-content-h3 {
  @include user-content-h3;
}

.user-content {

  h1 {
    @include user-content-h1;
  }

  h2 {
    @include user-content-h2;
  }

  h3 {
    @include user-content-h3;
  }

  p {
    margin: 0 0 1em;
  }

  a:not(.non-user-content-link) {
    border-bottom: $gray 1px solid;

    &:hover {
      color: $orange;
      border-bottom-color: $orange;
    }
  }

  ul:not(.semantic-only-list) {
    list-style: none;
    padding-left: 0;
    margin: 0 0 1em;
    li {
      &::before {
        content: '+';
        margin-right: 1ch;
      }
    }
  }

  hr {
    height: 0;
    border: 0;
    border-bottom: 1px solid $brand-secondary;
    + p {
      margin-bottom: 0;
    }
  }

  em {
    font-style: italic;
  }

  strong {
    font-weight: bold;
  }

  img {
    width: 100%;
    max-width: 500px;
    margin-left: -$padding;
    margin-top: $padding/2;
    border-bottom: 2px solid $orange;

    @include media-md {
      margin-left: -$padding-md;
      margin-top: $padding-md/2;
    }

    @include media-lg {
      margin-left: -$padding-lg;
      margin-top: $padding-lg/2;
    }
  }

    // Image Layout Classes
  .image-layout {

    img {
      margin: 0;
      max-width: none;
      vertical-align: top;
    }

    &.-two-image {
      margin: $padding 0;

      @include media-md {
        @include clearfix;
        margin-right: -$padding-md;
        width: calc(100% + $padding-md);

        img {
          float: left;
          max-width: none;
          width: calc(50% - #{$padding-md / 2});
          &:first-of-type {
            margin-right: $padding-md;
          }
        }
      }

      @include media-lg {
        margin-right: -$padding-lg;
        width: calc(100% + $padding-lg);

        img {
          width: calc(50% - #{$padding-lg / 2});
          &:first-of-type {
            margin-right: $padding-lg;
          }
        }
      }
    }
  }
}