// Styling of content that is editable in wysiwyg

// Some h2 styling is gonna need to be referenced elsewhere, so abstract it out.
@mixin h2-padding-top {
  padding-top: (24px - 3px); // (intended - correction)
  @include media-lg {
    padding-top: (34px - 7px); // (intended - correction)
  }
}

.user-content {
  @include clearfix();

  h1,h2,h3,h4,h5,h6 {

  }

  // Content Styles
  h2 {
    @include font-h3;
    position: relative;
    @include big-dash($brown-lite);
    margin: $section-margin-top 0 (22px - 10px);  // (intended - correction)

    @include h2-padding-top;

    &:first-child {
      margin-top: 0;
    }
  }

  h3 {
    @include font-caption-bold;
    margin: (28px - 14px) 0 0;
  }

  p {
    margin: 0 0 1em;
  }

  a {
    text-decoration: none;
    border-bottom: $gray 1px solid;
    &:hover {
      color: $orange;
      border-bottom-color: $orange;
    }
  }

  ul:not(.semantic-only-list) {
    list-style: none;
    padding-left: 0;
    margin: 0 0 1em;
    li {
      &::before {
        content: '+';
        margin-right: 1ch;
      }
    }
  }

  ol,
  ul {
    li {
      ol,
      ul {

      }
    }
  }

  hr {
    height: 0;
    border: 0;
    border-bottom: 1px solid $brand-secondary;
    + p {
      margin-bottom: 0;
    }
  }

  em {
    font-style: italic;
  }

  strong {
    font-weight: bold;
  }

    // Image Layout Classes
  .image-layout {
    img {
      width: 100%;
      vertical-align: top;
      border-bottom: 2px solid $orange;
    }

    &.-two-image {
      margin: $padding 0;

      @include media-md {
        @include clearfix;
        margin-right: -$padding-md;
        width: calc(100% + $padding-md);

        img {
          float: left;
          max-width: none;
          width: calc(50% - #{$padding-md / 2});
          &:first-of-type {
            margin-right: $padding-md;
          }
        }
      }

      @include media-lg {
        margin-right: -$padding-lg;
        width: calc(100% + $padding-lg);

        img {
          width: calc(50% - #{$padding-lg / 2});
          &:first-of-type {
            margin-right: $padding-lg;
          }
        }
      }
    }
  }
}