// Careers Page

.page.careers {

  .top-section {
    color: $white;
    background: $gold;
    padding: #{$padding-md * 2} $padding-md $padding-md;

    .body-content {
      @include font-caption-bold;
    }
  }
 
  .careers-nav {
    margin-left: -20px;
    width: calc(100% + 20px);

    .child-pages {
      margin:0;
      padding: 0;
      list-style: none;
    }
    .child-page {
      padding-top: 6px;
      a {
        display: block;
        position: relative;
        padding: 6px 0 12px;
        @include font-caption;
        text-decoration: none;
        &::after {
          left: 0;
          right: 0;
          bottom: 0;
          height: 1px;
          content: '';
          position: absolute;
          background: $gold-light;
        }
        &.-active {
          border-bottom: none;
          &::after {
            height: 2px;
            background: $orange;
          }
        }
      }
    }

    @include media-md {
      .child-pages {
        @include clearfix;
      }
      .child-page {
        float: left;
        width: 33.333%;
        padding-left: 20px;
      }
    }
  }

  .careers-child-page {
    display: none;

    &.-active {
      display: block;
    }
   
    h3 {
      @include font-h3;
      padding-top: 34px;
      position: relative;
      &::before {
        top: 0;
        left: 0;
        width: 54px;
        content: '';
        height: 2px;
        position: absolute;
        background: $brown-light;
      }
    }
  }

}