// Careers Page

.page.careers {

  .page-header {
    background: $gold;
    .header-text {
      background: $gray-dark;
    }
  }

  .top-section {
    padding-top: #{$padding-lg/2};

    .body-content {
      @include font-caption-bold;
    }

    .content-wrap {
      max-width: 675px;
    }
  }
 
  .careers-nav {

    @include media-md {
      margin-left: -20px;
      width: calc(100% + 20px);
    }

    .child-pages {
      margin:0;
      padding: 0;
      list-style: none;
    }

    .child-page {
      padding-top: 6px;

      a {
        height: 100%;
        display: block;
        position: relative;
        padding: 6px 0 12px;
        @include font-caption;
        text-decoration: none;

        &::after {
          left: 0;
          right: 0;
          bottom: 0;
          height: 1px;
          content: '';
          position: absolute;
          background: $gold-lite;
        }

        &:hover,&.-active {
          border-bottom: none;

          &::after {
            height: 2px;
            background: $orange;
          }
        }
      }
    }

    @include media-md {
      .child-pages {
        @include clearfix;
      }
      .row {
        display: flex;
        @include clearfix;
      }
      .child-page {
        float: left; // Flex fallback (creates uneven item heights but looks mostly ok)
        width: 33.333%;
        padding-left: 20px;
        flex-basis: 33.333%;
      }
    }
  }

  .careers-child-page {
    display: none;

    &.-active {
      display: block;
    }
  }

  // Need to hide default child page title for benefits and compensation as they want "benefits" and "compensation" to be seperate headers
  #benefits-compensation {
    .block-title {
      @extend .visually-hidden;
    }
    h2:nth-of-type(2) {
      margin-top: 0;
    }
  }
}