// Home page

.home.page {

  .boxes {

    a {
      border-bottom: none;
      text-decoration: none;
    }

    h2 {
      margin: 0;
    }

    .aspect-ratio-box {
      width: 100%;

      .aspect-ratio {
        height: 0;
        width: 100%;
        position: relative;
        padding-bottom: 100%;
      }

      .box {
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        color: $cream;
        position: absolute;
        overflow: hidden;

        .thumbnail {
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          position: absolute;
          background-size: cover;
          transition: transform 5s;
          background-position: center;

          &::before {
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            content: '';
            position: absolute;
            backface-visibility: hidden;
            background: linear-gradient(to top, rgba($gray-dark,0.5), transparent 40%, transparent);
          }


        }

        &:hover {
          .thumbnail {
            transform: scale(1.03);
            &::after {
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
              content: '';
              position: absolute;
              backface-visibility: hidden;
              background: rgba($brown,0.2);
            }
          }
        }
      }

      .text-wrap {
        width: 100%;
        height: 100%;
        position: relative;

        .text-bottom {
          bottom: 0;
          display: block;
          position: absolute;
        }
      }
    }

    .content-sized-box {
      width: auto;
    }

    .box {
      background: $gray;
      @include padding;
    }

    .details-link {
      display: block;
      margin-top: 2em;
    }

    // Trigger details link hover state when hovering anywhere on box
    .box, #social-impact .box {
      &:hover {
        .details-link {
          color: $orange;

          &::after {
            left: 3px;
          }
        }
      }
    }

    .spotlight {
      display: block;
    }

    .line-1 {
      display: block;
      padding-bottom: 28px - 12px; // intent - correction
    }

    .line-2 {
      display: block;
      padding-top: 28px - 4; // intent - correction
      @include big-dash($gold);
    }
  }

  // Optional text box on homepage below mission statement
  .homepage-notice.user-content {
    margin-top: 24px;
    a:not(.details-link) {
      text-decoration: underline;
      &:hover {
        color: $orange;
      }
    }
  }

  // Mobile Layout
  @include max-screen($breakpoint-medium - 1px) {

    .page-header {
      display: none;
    }

    #mission-statement {
      &.box-container {
        padding-right: $padding;
      }
      .box {
        padding-bottom: 2*$padding;
      }
    }

    #stylist-spotlight {
      margin-top: -$padding;
      &.box-container {
        padding-left: $padding;
      }
      .box {
        border-bottom: 2px solid $orange;
      }
    }

    #careers {
      &.box-container {
        padding-left: $padding;
      }
      .aspect-ratio {
        padding-bottom: 114%;
      }
      .box {
        padding-bottom: 2*$padding;
      }
    }

    #press {
      position: relative;
      z-index: 1;
      margin-top: -$padding;
      margin-bottom: -$padding;
      &.box-container {
        padding-right: 2*$padding;
      }
    }

    #lookbook-spotlight {
      .box {
        border-bottom: 2px solid $orange;
      }

      &.box-container {
        padding-left: $padding;
      }
    }

    #services {
      &.box-container {
        padding-left: $padding;
      }
      .box {
        padding-bottom: 2*$padding;
      }
      .aspect-ratio {
        padding-bottom: 129%;
      }
    }

    #social-impact {
      z-index: 1;
      position: relative;
      margin-top: -$padding;
      &.box-container {
        padding-right: 2*$padding;
      }
      .box {
        padding-bottom: 2*$padding;
      }
    }

    #behind-the-scenes {
      z-index: 2;
      position: relative;
      margin-top: -$padding;

      .box {
        border-bottom: 2px solid $orange;
      }

      &.box-container {
        padding-left: $padding;
      }
    }
  }

  // Tablet/ Desktop View
  @include media-md {

    .page-header {
      padding-bottom: 0;
    }

    .boxes {
      padding-right: $padding-md;
      @include clearfix;

      .box-container {
        width: 50%;
      }

      .top-group {
        @include clearfix;
        position: relative;

        #mission-statement {
          left: 0;
          bottom: 100%;
          position: absolute;
          @include screen($breakpoint-medium, 950px) {
            h2 {
              @include font-h2;
            }
          }
        }

        .stylist-careers-subgroup {
          bottom: 0;
          left: 50%;
          width: 50%;
          float: right;
          position: absolute;

          #stylist-spotlight {
            bottom: 100%;
            position: absolute;

            &.box-container {
              width: 100%;
            }
          }

          #careers {
            &.box-container {
              margin-right: -$padding-md;
              width: calc(100% + #{$padding-md});
            }
            .aspect-ratio {
              padding-bottom: 119%;
            }
            .box {
              border-top: 2px solid $orange;
            }
          }
        }

        .lookbook-press-subgroup {
          width: 50%;
          float: left;
          display: flex; // Use flexbox to flip the order
          flex-wrap: wrap;
          @include clearfix;

          #press {
            order: 1;
            width: 100%;
            float: left;
            flex-basis: 100%;

            .box {
              border-top: 2px solid $orange;
            }
          }

          #lookbook-spotlight {
            order: 0;
            width: 100%;
            float: right;
            flex-basis: 100%;
          }
        }
      }

      .bottom-group {
        @include clearfix;

        #services {
          float: left;
          .aspect-ratio {
            padding-bottom: 132%;
          }
          .box {
            border-bottom: 2px solid $orange;
          }
        }

        #social-impact {
          float: left;
        }

        #behind-the-scenes {
          float: right;
          .box {
            border-bottom: 2px solid $orange;
          }
        }
      }
    }
  }

  // Color
  &.color-scheme-a {
    #mission-statement .box {
      color: $gray-dark;
      background: $cream;
    }
    #press .box {
      color: $cream;
      background: $gray-dark;
    }
  }

  &.color-scheme-b {
    #mission-statement .box {
      color: $cream;
      background: $gray-dark;
    }
    #press .box {
      color: $gray-dark;
      background: $cream;
    }
  }

  #social-impact .box {
    color: $cream;
    background: $gold;

    .details-link:not(:hover) {
      color: $gray-dark;
    }
  }

  #instafeed {
    &::after {
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      content: '';
      position: absolute;
      background: rgba($gold, 0.3);
    }
  }

  // Diamond Button
  #behind-the-scenes {
    .diamond {
      width: 207px;
      height: 84px;
      display: block;
      text-align: center;
      background-size: cover;
      background-repeat: no-repeat;
      background-image: url('../images/diamond.svg');

      @include media-md {
        width: 233px;
        height: 95px;
      }
      @include media-lg {
        width: 279px;
        height: 112px;
      }

      .diamond-text {
        width: 100%;
        color: $gray-dark;
        position: absolute;
        top: 50%; left: 50%;
        transform: translate(-50%,-55%);
      }
    }
  }
}

