// Locations Page

.page.locations {

  .page-header {
    @include media-lg {
      z-index: 2;
      margin-bottom: -$padding-lg;
    }
    .header-text {
      background: $gray-dark;
    }
  }

  .location-meta {
    color: $gold;
    @include font-caption-bold;
    p {
      margin: 0;
    }
    a {
      text-decoration: none;
      &:hover {
        color: $orange
      }
    }
    .location-email a {
      .email-part {
        display: inline-block;
      }
    }
  }

  .site-main .location { // .site-main to differentiate from footer locations

    &:nth-child(even) {
      @include indent-left;
    }
    &:nth-child(odd) {
      @include indent-right;
    }

    &:first-child {

    }

    .banner {
      height: 0;
      width: 100%;
      position: relative;
      padding-bottom: 66%;
      background-size: cover;
      background-color: $gray;
      border-bottom: 2px solid $orange;
      background-position: center center;

      @include media-md {
        padding-bottom: 37.5%;
      }

      a {
        bottom: 24px;
        color: $white;
        right: $padding;
        position: absolute;
        text-decoration: none;
        @include font-caption-bold;
        border-bottom: 1px solid transparent; // hack to prevent 1 pixel shift when adding border

        @include media-md {
          right: $padding-md;
        }

        @include media-lg {
          right: $padding-lg;
        }

        &:hover {
          border-bottom: 1px solid $white;
        }
      }
    }

    .location-header {
        padding-bottom: $padding/2;

      @include media-md {
        padding-bottom: $padding-md/2;
      }

      @include media-lg {
        padding-bottom: $padding-lg/2;
      }
    }

    .location-name {
      margin: 0;
      @include font-h2;
    }

    .location-details {

      h4 {
        margin-top: 0;
        padding-bottom: 3px;
        @include font-caption-bold;
        border-bottom: 1px solid $gold;
      }

      .leader-table {
        tr {
          position: relative;
        }
        .day {
          font-style: normal;
          text-transform: capitalize;
        }
        .time span {
          @include font-caption;
          font-size: 14px;
        }
        .hour-details {
          display: block;
          font-style: italic;
          &::before {
            display: none;
          }
          td {
            float: none;
            width: 100%;
          }
        }
      }
    }

    .details-block-wrap {
      @include clearfix;


      @include media-md {
        display: flex;
        flex-wrap: wrap;
        max-width: 700px;
        margin-right: -$padding-md;
      }

      @include media-lg {
        max-width: 1050px;
        margin-right: -$padding-lg;
      }

    }

    .details-block {
      margin-bottom: $padding;

      @include media-md {
        float: left; // no-flex fallback
        width: 50%; // no-flex fallback
        flex-basis: 50%;
        margin-bottom: $padding-md;
        padding-right: $padding-md;
      }

      @include media-lg {
        width: 33.33%; // no-flex fallback
        flex-basis: 33.33%;
        margin-bottom: $padding-lg;
        padding-right: $padding-lg;
      }
    }
  }
}