.page.lookbooks {
  
  .page-header {
    .header-text {
      color: $gray-medium;
      border-bottom: none;
      background: $cream-dark;
    }
  }
}

// Single Lookbooks
body.single-lookbook {
  .site-header .site-nav #menu-main-nav .menu-item-lookbooks {
    color: $orange;
  }
}