$breakpoint-salon-color-table: 900px;
$breakpoint-salon-cut-table-small: 550px;
$breakpoint-salon-cut-table-big: 900px;

.page.services {

  .page-header {
    background: $cream-dark;
  }

  .salon-cut-wrap {
    position: relative;
    padding-top: 20px;
  }
  .salon-cut-list {
    margin: 0;
    width: 260px;
    padding-left: 0;
    list-style: none;
    @include clearfix;

    @include min-screen($breakpoint-salon-cut-table-small) {
      width: 100%;
    }

    @include min-screen($breakpoint-salon-cut-table-big) {
      right: 0;
      width: 75%;
      position: absolute;
      bottom: calc(100% - 13px);
    }

    li {
      float: left;
      width: 85px;
      margin-bottom: 1em;
      @include min-screen($breakpoint-salon-cut-table-small) {
        width: 20%;
      }
      @include min-screen($breakpoint-salon-cut-table-big) {
        margin-bottom: 0;
      }

      &::before {
        display: none;
      }
    }

    .price-type {
      margin: 0;
      @include font-caption-bold;
    }

    .price-value {
      margin: 0;
      @include font-caption-thin;
    }
  }

  .salon-color-table { //Goddang this thing's complicated....

    .consultation {
      display: block;
      @include font-caption-thin;
    }

    // Customized leader table when small
    @include max-screen ($breakpoint-salon-color-table - 1px) {

      @include leader-table;

      .title-row {
        @include hidden;
      }

      .name {
        @include font-paragraph;
        text-align: left;
      }

      .price-type {
        @include font-caption-bold;
      }

      .price-value {
        @include font-caption-thin;
      }

      &.accordian-table .leader-row { // Specificity
        padding: 0;
      }

      .service {
        display: block;
        margin-top: 35px;

        .icon-triangle {
          top: 12px;
        }
      }

      .description {
        padding-top: 6px;
        padding-bottom: 6px;
      }
    }

    // Customized stripey table when large
    @include min-screen ($breakpoint-salon-color-table) {

      @include stripey-table;

      position: relative;

      .price-type {
        @include hidden;
      }
      .value {
        width: 15%;
      }
      .title-row {
        right: 0;
        margin: 0;
        width: 60%;
        padding: 0;
        bottom: 100%;
        display: block;
        position: absolute;
        margin-bottom: 10px;

        .price-class {
          width: 25%;
          float: left;
          display: block;
          text-align: left;
          @include font-caption-bold;
        }
      }
    }
  }

  .bridal-details-link {
    color: $gold;
    border-bottom: none;
    @include font-caption-bold;

    &::after {
      top: -1px;
      content: '>';
      color: $orange;
      margin-left: 1ch;
      position: relative;
    }
    &:hover {
      color: $orange;

      &::after {
        left: 3px;
      }
    }
  }
}