.page.social-impact {

  .page-header {
    background: $cream-dark;
    .header-text {
      background: $gray-dark;
    }
  }

  .contact {
    position: relative;
    @include big-dash($brown-lite);
    margin-top: 1em;

    @include h2-padding-top;
    @include font-caption-bold;
  }
}

// Single Gallery
body.single-si-gallery {
  .site-footer .footer-menu .menu-item-social-impact {
    color: $orange;
  }
}