// Stylists Page

.page.stylists {

  .page-header {
    background: $cream-dark;

    .header-text {
      background: $gray-dark;
    }
  }

  .subpage-nav {
    .subpages-list {
      // Make room for 2 columns of 5 items in the subpage section nav, because they are accordians, it is better to pos:a them then put them in doc flow and repaint the screen a lot when they push contents
      @include media-md {
        min-height: 42px*5;
      }
    }
  }
}

.people-grid {
  margin-top: $padding;

  .people-grid-item {
    width: 100%;
    margin-bottom: $padding*1.25;

    &::before {
      display: none;
    }
  }
  @include media-md {
    @include clearfix;
    margin-right: -$padding-md;

    .people-grid-item {
      float: left;
      width: 33.33%;
      margin-bottom: 10px;
      padding-right: $padding-md;
    }
  }
}

.stylist {
 .thumbnail-wrap {
    height: 0;
    width: 100%;
    position: relative;
    padding-bottom: 100%;

    .thumbnail {
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      position: absolute;
      background-size: cover;
      background-color: $gray-dark;
      background-position: center top;

      &::after{
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        opacity: 0;
        content: '';
        position: absolute;
        background: rgba($brown,0.2);
      }
    }
  }

  .stylist-name {
    @include font-caption-bold;
    @include media-md {
      margin-top: 1em;
    }
  }

  .open-person-popup {
    cursor: pointer;
    &:hover {
      .thumbnail {
        border-bottom: 2px solid $orange;
        &::after {
          opacity: 1;
        }
      }
      // Add in hover state for details link, present occasionally
      .details-link {
        color: $orange;

        &::after {
          left: 3px;
        }
      }
    }
  }
}

.person-popup {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  color: $cream;
  display: block;
  position: fixed;
  overflow-y: scroll;
  backface-visibility: hidden; // HA hack

  // Close button
  button.close-person-popup {
    right: 0;
    padding: 0;
    border: none;
    bottom: calc(100% - #{$padding}*2);
    
    outline: none;
    position: absolute;
    background: transparent;

    @include media-md {
    bottom: calc(100% - #{$padding-md}*2);
    }

    @include media-lg {
    bottom: calc(100% - #{$padding-lg}*2);
    }

    // Extend the close button to entire background via invisible overlay
    &::before {
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      content: '';
      z-index: -1;
      position: fixed;
    }

    &:hover {
      .text {
        color: $orange;
      }
      .icon {
        fill: $orange;
      }
    }

    .text {
      right: 100%;
      margin-right: 3px;
      position: absolute;
      @include font-caption-thin;
    }

    .icon {
      top: 50%;
      width: 11px;
      height: 11px;
      fill: $cream;
      width: $padding;

      @include media-md {
        width: $padding-md;
      }
      @include media-lg {
        width: $padding-lg;
      }
    }
  }

  // The container of everything in the popup
  .popup-wrap {
    z-index: 100;
    position: relative;
    padding: 0 $padding $padding;
    margin-top: $padding*2;

    @include media-md {
      margin-left: 25%;
      padding: 0 $padding-md $padding-md;
      margin-top: $padding-md*2;
    }

    @include media-lg {
      padding: 0 $padding-lg $padding-lg;
      margin-top: $padding-lg*2;
    }
  }

  // The full-column mobile layout (for major layout changes with md+ scroll down below)
  .header-wrap {
    position: relative;

    button.arrow {
      border: none;
      height: 100%;
      outline: none;
      width: $padding;
      background: $gold;

      @include media-md {
        width: $padding-md;
      }
      @include media-lg {
        width: $padding-lg;
      }

      .icon {
        width: 12px;
        height: 12px;
        fill: $cream;
      }

      &:hover {
        background: $orange;

        .icon {
          fill: $gray-dark;
        }
      }
    }

    // Golden arrow buttons are sized to be same height as the thumnail image
    // and positioned to be on either side
    // (the the thumb is wrapped directly by .controls-wrap)
    .controls-wrap {
      position: relative;

      .next-person-popup, .prev-person-popup {
        top: 50%;
        position: absolute;
        transform: translateY(-50%);
      }

      .next-person-popup {
        left: 100%;
      }

      .prev-person-popup {
        right: 100%;

        .icon-triangle {
          transform: rotate(180deg);
        }
      }
    }
  }

  .header-content {
    margin-bottom: 0;
    padding: $padding 0;

    @include media-md {
      padding: $padding-md/2 $padding-md;
    }

    @include media-lg {
      padding: $padding-lg/2 $padding-lg;
    }

   .stylist-name {
      margin-top: 0;
      color: $orange;
      @include font-h2;
      margin-bottom: 6px;
    }

    .stylist-title {
      @include font-h3;
      margin-bottom: 14px;
    }

    .stylist-quote {
      display: none;
    }

    .location-list {

      // Short version of title (fits tablet better)
      .short {
        display: none;

        @include media-md {
          display: inline;
        }

        @include media-lg {
          display: none;
        }
      }

      // Long version of title (mobile and lg)
      .long {
        display: inline;

        @include media-md {
          display: none;
        }

        @include media-lg {
          display: inline;
        }
      }

      a {
        display: block;
        border-bottom: none;
        @include font-caption-bold;
      }
    }
  }

  .bio {
    margin: 0 0 2em;

    @include media-md {
      margin-top: $padding-md/2;
    }

    @include media-md {
      margin-top: $padding-lg/2;
    }

    ul, ol {
      font-style: italic;
    }
  }

  .block {
    margin-bottom: 2em;

    h4 {
      color: $orange;
      @include font-caption-bold;
      border-bottom: 2px solid $gold;
    }
  }

  .leader-table {
    .leader-text {
      background: $gray-dark;
    }
    .details {
      font-style: italic;
    }
    .leader-right {
      @include font-caption-thin;
    }
  }

  .appointments {
    a {
      border-bottom: none;
      display: block;
    }
    .phone {
      @include font-caption-thin;
    }
    li {
      margin-bottom: 1em;
    }
  }

  .lookbooks {

    .lookbook-list {
      margin-left: -5px;
      @include clearfix;
      margin-right: -15px;
    }

    .lookbook-list-item {
      float: left;
      margin-right: 10px
    }

    a {
      padding: 5px;
      border-bottom: 0;

      &:hover {

        .icon {
          fill: $orange;
        }
      }
    }

    .icon {
      fill: $cream;
      height: 24px;
      width: 24px;
    }
  }

  // Tablet layout (revamped header and content splits into nested columns)
  @include media-md {

    .header-wrap {
      display: flex;
      @include clearfix;
      background: $gray-medium2;

      // Golden layout buttons are no longer tied to controls wrap (hence 'pos:s')
      // instead, they are now sized/positioned relative to whole header (.header-wrap)
      .controls-wrap {
        width: 35%; // no-flex falback
        float: left; // no-flex falback
        flex-basis: 35%;
        position: static;

        @include media-lg {
          width: 30%; // no-flex falback
          flex-basis: 30%;
        }
      }

      .thumbnail-wrap {
        min-height: 100%;
      }

      .header-content {
        width: 65%; // no-flex falback
        float: left; // no-flex falback
        flex-basis: 65%;

        @include media-lg {
          width: 60%; // no-flex falback
          flex-basis: 60%;
        }
      }
    }

    // Awaken the content wrapper from its slumber
    .content-wrap {
      position: relative;
      margin-left: 35%;
      padding-left: $padding-md;

      @include media-lg {
        margin-left: 30%;
        padding-left: $padding-lg;
      }
    }

    .stylist-quote {
      right: 100%;
      color: $gold;
      display: block;
      font-style: italic;
      position: absolute;
      width: calc((35/65)*100%);

      @include media-lg {
      width: calc((30/70)*100%);
      }
    }

    // Blocks go to double-col at 1000px
    @include min-screen(1000px) {
      .block-wrap {
        display: flex;
        flex-wrap: wrap;
        margin-right: -$padding-md;
        @include media-lg {
          margin-right: -$padding-lg;
        }

        .block {
          flex-basis: 50%;
          padding-right: $padding-md;

          @include media-lg {
            padding-right: $padding-lg;
          }
        }
      }
    }
  }
}

.popup-mask {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  opacity: 0;
  position: fixed;
  visibility: hidden;
  background: $gray-dark;
  backface-visibility: hidden; // HA Hack
  transition: visibility 0.3s 0s, opacity 0.2s 0.1s; // fade-out
 
  @include media-md {
    left: 25%;
  }
}

body.-person-popup-open {
  overflow: hidden;
 
  .book-appointment, #livechat-compact-container {
    opacity: 0 !important;
    pointer-events: none;
    transition: opacity 0.5s;
  }
  .popup-mask {
    opacity: 1;
    visibility: visible;
    transition: visibility 0s, opacity 0.15s; // fade-in
  }
}