// Accessibility

// http://www.456bereastreet.com/archive/200711/screen_readers_sometimes_ignore_displaynone/
@mixin hidden {
  display: none;
  visibility: hidden;
}

.hidden {
  @include hidden;
}

// Visually hide, accessibility-friendly
@mixin sr-only {
  border: 0;
  width: 1px;
  padding: 0;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  position: absolute;
  clip: rect(0,0,0,0);
}
.screen-reader-text,
.sr-only,
.visually-hidden {
  display: none;
  // @include sr-only;
}