#breakpoint-indicator { // We can use this to tell JS which breakpoint we are on! Nifty!
  width: 0;
  height: 0;
  overflow: hidden;
  visibility: hidden;
  
  &::after {
    content: 'xs';
    @include media-sm {
      content: 'sm';
    }
    @include media-md {
      content: 'md';
    }
    @include media-lg {
      content: 'lg';
    }
  }
}