
// faces
$libre: 'LibreBaskerville', sans-serif;
$didot: 'DietDidot-Italic', sans-serif;
$glacial: 'GlacialIndifference', sans-serif;

@mixin font-paragraph {
  font-style: normal;
  font-weight: normal;
  font-family: $libre;
  text-transform: none;

  // Mobile
  font-size: 14px;
  letter-spacing: 0;
  line-height: ( 24 / 14 );

  // Tablet -- No change
  // Desktop -- No change
}

@mixin font-h1 {
  font-style: italic;
  font-weight: normal;
  font-family: $didot;
  text-transform: uppercase;

  // Mobile
  font-size: 24px;
  letter-spacing: .1em;
  line-height: ( 36 / 24 );


  // Tablet
  @include media-md {
    font-size: 36px;
    letter-spacing: .1em;
    line-height: ( 45 / 36 );
  }

  // Desktop
  @include media-lg {
    font-size: 48px;
    letter-spacing: .15em;
    line-height: ( 60 / 48 );
  }
}

@mixin font-h2 {
  font-style: italic;
  font-weight: normal;
  font-family: $didot;
  text-transform: uppercase;

  // Mobile
  font-size: 24px;
  letter-spacing: .15em;
  line-height: ( 36 / 24 );

  // Tablet -- No change

  // Desktop
  @include media-lg {
    font-size: 32px;
    letter-spacing: .15em;
    line-height: ( 48 / 32 );
  }
}

@mixin font-h3 {
  font-style: normal;
  font-weight: normal;
  font-family: $glacial;
  text-transform: uppercase;

  // Mobile
  font-size: 16px;
  letter-spacing: .2em;
  line-height: ( 24 / 16 );

  // Tablet -- No change

  // Desktop
  @include media-lg {
    font-size: 20px;
    letter-spacing: .2em;
    line-height: ( 36 / 20 );
  }
}

// I suspect this one was left in P styles in error and doesn't exist in the wild...
// @mixin font-h4 {
//   font-style: normal;
//   font-weight: normal;
//   font-family: $glacial;
//   text-transform: uppercase;

//   // Mobile
//     font-size: 20px;
//     letter-spacing: .2em;
//     line-height: ( 30 / 20 );

//   // Tablet -- No change

//   // Desktop -- No change
// }

@mixin font-caption {
  font-style: normal;
  font-weight: normal;
  font-family: $glacial;
  text-transform: uppercase;

  // Mobile
  font-size: 12px;
  letter-spacing: .15em;
  line-height: ( 18 / 12 );

  // Tablet -- No change
  // Desktop -- No change
}

@mixin font-caption-bold {  // Trivial, but following design file's lead for now.
  font-weight: bold;
  font-style: normal;
  font-family: $glacial;
  text-transform: uppercase;


  // Mobile
  font-size: 12px;
  letter-spacing: .15em;
  line-height: ( 24 / 12 );

  // Tablet -- No change
  // Desktop -- No change
}


@mixin font-caption-thin { // Trivial, but following design file's lead for now.
  font-style: normal;
  font-family: $glacial;
  font-weight: normal;
  text-transform: uppercase;

  // Mobile
  font-size: 12px;
  letter-spacing: .15em;
  line-height: ( 24 / 12 );

  // Tablet -- No change
  // Desktop -- No change
  // Note: the footer is this mixin with no text-transform
}


@mixin font-footer { // Not in design file, but appears in footer
  font-style: normal;
  font-family: $glacial;
  font-weight: normal;
  text-transform: none;

  // Mobile
  font-size: 12px;
  letter-spacing: .05em;
  line-height: ( 24 / 12 );

  // Tablet -- No change
  // Desktop -- No change
  // Note: the footer is this mixin with no text-transform
}


// Convenience classes
.font-paragraph {
  @include font-paragraph;
}
.font-h1 {
  @include font-h1;
}
.font-h2 {
  @include font-h2;
}
.font-h3 {
  @include font-h3;
}
.font-caption {
  @include font-caption;
}
.font-caption-bold {
  @include font-caption-bold;
}
.font-caption-thin {
  @include font-caption-thin;
}

// ...

// Original typography.scss template in case we need it...

$sans: Helvetica, sans-serif;
$serif: Georgia, serif;

// Sans-specific styles to chunk into one include
@mixin font-sans() {
}
// Serif-specific styles to chunk into one include
@mixin font-sans() {
}

// Hide fonts while loading from Typekit
.wf-loading {
  visibility: hidden;
}

//sizes
$small: 0.5em;
$med: 1em;
$big: 3em;