// Variables

// Colors

// $black: #202020;
// $black-lite: #444648;
$white: #fff;
// $gray-lite: #DCDCDC;
// $gray: #969696;
// $gray-dark: #555;

// From ID File: (color name used in ID file in adjacent comment)
$black: #000000; // BLACK
$black-lite: #1a1419; // PANTONE 426 U
$brown: #47463e; // UNNAMED C=76 M=70 Y=77 K=29
$brown-light: #767070; // UNNAMED R=118 G=113 B=112
$cream: #e5e2dc; // CREAM
$cream-dark: #d8d4cb; // DARK CREAM
$gold: #7c7052; // GOLD
$gold-light: #897e64; // LIGHT GOLD
$gray-dark: #171419; // DARK GREY
$gray-lite: #a6a49d; // LIGHT GREY
$gray-medium: #2e2b2a; // MEDIUM GREY
$gray: #5b595a; // GREY
$orange: #f7901e; // ORANGE

// Brand Swatches
$brand-primary: $black;
$brand-secondary: $white;

// Breakpoints
// Note: for interpreting ID file: xs = mobile, md = tablet, lg = desktop
$breakpoint-small: 480px;
$breakpoint-medium: 768px;
$breakpoint-large: 1200px;
// $breakpoint-huge: 1200px;
// $breakpoint-nav: 1050px;
$breakpoint-footer-two-col: 800px;
$breakpoint-footer-three-col: 900px;

// Global padding
$padding: 32px;
$padding-md: 40px;
$padding-lg: 54px;

// WP Admin Bar
$breakpoint-wp-admin-bar-fixed: 601px;
$breakpoint-wp-admin-bar-small: 783px;
$wp-admin-bar-height: 46px;
$wp-admin-bar-height-big: 32px;